* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}


header {
    background-color: #3C6E71;
}

header .navbar a {
    color: #FFFFFF; 
    font-size: 16px;
    margin-top: 10px;
}


.navbarbrand img {
    width: 50px;
    margin-top: 10px;
}

header .navbar a:hover {
    color: #000000;
}

.block1 {
    display: flex;
    align-items: center;
}

.block1 a {
    color: #FFFFFF !important;
}


.main_block {
    display: flex;
    justify-content: center;
    gap: 180px;
    align-items: center;
    margin: 20px;
}

.main_block1 {
    width: 50%;
    max-width: 500px;
}

.main_block1 h1 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.main_block1 p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.btn1 {
    font-size: 18px;
    padding: 10px 30px;
    background-color: #3C6E71;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn1:hover {
    background-color: #4cae4c;
}

.main_block2 img {
    width: 100%;
    max-width: 800px;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 40px auto;
    padding: 20px;
}

.book {
    background-color: #e9ecef;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.book:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.book img {
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 15%;
    border-bottom: 2px solid #ddd;
}


.book h4 {
    font-size: 18px;
    color: #333;
}

.catalog {
    background-color: #e9ecef;
    padding: 40px;
    text-align: center;
}

.catalog h2 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.catalog img {
    max-width: 100%;
    margin-top: 20px;
}

.catalog .btn1 {
    background-color: #17a2b8;
    color: #fff;
    font-size: 14px;
}

.catalog .btn1:hover {
    background-color: #138496;
}

.myForm {
    background-color: #e9ecef;
    margin-top: 30px;
    border-radius: 10px;
    margin: 50px;
}

.form-group {
    padding: 10px;
}

.radio {
    padding: 10px;
}

.form-group .btn2 {
    margin-top: 20px;
    padding: 10px;
    background-color: #3C6E71 !important;
    color: #fff;
    font-size: 12px;
}

footer .footer {
    background-color: #3C6E71;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .main_block {
        flex-direction: column; 
        text-align: center;
    }

    .books {
        flex-direction: column;
        align-items: center
    }

    .catalog {
        flex-direction: column;
        text-align: center;
    }

    .catalog div {
        padding-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 366px) {
    .nav navbar-nav {
        flex-direction: column;
        margin-right: 20;
    }

    .main_block {
        flex-direction: column; 
        text-align: center;
    }

    .main_block1 h1 {
        font-size: 30px;
    }
    
    .main_block1 p {
        font-size: 12px;
    }

    .books {
        flex-direction: column;
        align-items: center
    }

    .catalog {
        flex-direction: column;
        text-align: center;
    }

    .catalog div {
        padding-right: 0;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 294px) {
    .main_block1 h1 {
        font-size: 24px;
    }
    
    .main_block1 p {
        font-size: 10px;
    }
    
    .book {
        width: 150px;
    }
    
    .book img {
        width: 100px;
        height: 100px;
    }
    
    .book h4 {
        font-size: 12px;
        color: #333;
    }
    
}